---
import Layout from '../layouts/Layout.astro';
import Trips from '../components/Trips.astro';
import Footer from '../components/Footer.astro';
import HeadInfo from '../components/HeadInfo.astro';

const info = {
    title: "Welcome to Trailbag",
    description: "A personal website to remember my trips.",
    ogImageUrl: '/images/eagle_rock_loop/SUNP0120.webp',
    canonical: 'https://trailbag.club/'
};
---

<Layout title="Trail Bag">
	<HeadInfo pageInfo={info} slot="head"></HeadInfo>
	<main>
		<Trips></Trips>
	</main>
	<Footer pageNumber="01"></Footer>
</Layout>

<style>
	h2 {
		text-align: center;
		font-weight: lighter;
	}
</style>