<a href="/"><img src="/images/arrow-left.svg" alt="" height="10" width="10">Back</a>

<style>
    a {
        display: inline-flex;
        gap: 0.5rem;
        align-items: center;
        text-decoration: none;
        color: #000000;
        margin-bottom: 1rem;
    }
</style>