---
interface Props {
    images: string[];
}


const { images } = Astro.props;
---

<div class="image-grid">
    {images.map((src) => (
        <a class="gallery" href={src} data-fancybox="gallery">
          <img src={src} alt="something happening on the trip" loading="lazy" />
        </a>
    ))}
</div>

<style>
    .image-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;
        padding: 1rem 0;
        grid-template-rows: masonry;
        margin-bottom: 3rem;
    }

    .image-grid img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
    }

    @media screen and (max-width: 410px) {
		.image-grid {
			margin: 0;
		}
	}
</style>