---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="A collection of trail trips" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
/>
	</head>
	<body>
		<div class="main-contain">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	@import "/node_modules/luminous-lightbox/dist/luminous-basic.css";
	/* dm-sans-500 - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 500;
		src: url('/fonts/NotoSans-Regular.ttf') format('ttf'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	}
	/* dm-sans-600 - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 600;
		src: url('/fonts/NotoSans-Medium') format('ttf'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	}
	/* dm-sans-700 - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 700;
		src: url('/fonts/NotoSans-Black') format('ttf'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	}
	/* dm-sans-800 - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Noto';
		font-style: normal;
		font-weight: 800;
		src: url('/fonts/NotoSans-ExtraBold') format('ttf'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	}

	.lum-lightbox {
		background: rgba(0, 0, 0, 0.98) !important;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html, body {
		min-height: 100%;
		background-color: #fff;
	}

	img {
		max-width: 100%;
		border-radius: 1rem;
	}

	hr {
		margin: 2rem 0;
	}

	h1, h2, h3, p, a {
		font-family: 'Noto Sans', sans-serif;
	}

	.section__title {
		font-size: 3.5rem;
	}

	.main-contain {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 100dvh;
		max-width: 1800px;
		margin: 0 auto;
		padding: 2rem 2rem 0 2rem;
		background-color: #fff;
	}

	.trip__date {
        font-size: 1rem;
        color: gray;
    }

	@media screen and (max-width: 650px) {
		.main-contain {
			padding: 0;
		}
	}
</style>

<script type="module">
    import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.esm.js";

	Fancybox.bind('[data-fancybox]', {

	});

    Fancybox.bind('[data-fancybox="gallery"]', {
      
    });
</script>